@import url(https://db.onlinewebfonts.com/c/423f58b9fc607c2ccd71d1ab6bf42c30?family=CeraRoundPro-Regular);

html{
    box-sizing:border-box
}

*,*:before,*:after{
    box-sizing:inherit
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family: "CeraRoundPro-Regular",  Helvetica, Arial, sans-serif;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family: "CeraRoundPro-Regular", Helvetica, Arial, sans-serif;font-size:15px;line-height:23px}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6,a{font-family: "CeraRoundPro-Regular",  Helvetica, Arial, sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

a {
    text-decoration: none;
  }

  li a, p a{
    display: block;
    color: black;
    text-decoration: none;
  }
  
  li a:hover, p a:hover{
    color: #ac3b61;
  }

  a i{
    display: block;
    color: white;
    text-decoration: none;
  }

.bg-body{
    background-color: #eee2dc;
}

      .mySlides {
        display: none;
        padding: 10px;
        text-align: left;
      }

      .dot {
        cursor: pointer;
        color: white;
        width: fit-content;
        margin: 2px;
        padding: 15px;
        background-color: #eee2dc;
        color: #ac3b61;
        border: 1px solid #ac3b61;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .dot-container {
        width: 99%;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
    }

    .active1 {
        background-color: #ac3b61;
        color: #eee2dc;
        font-weight: bold;
        transform: scale(1.1);
      }
    
    .dot:hover {
        background-color: #ac3b61;
        color: #eee2dc;
        font-weight: bold;
        transform: scale(1.1);
        transition: 1.1s;
      }


.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.w3-content,.w3-auto{
    margin-left: auto;
    margin-right: auto
}
    
.w3-content{
    max-width: 980px
}

.w3-auto{
    max-width: 1140px
}

.w3-row-padding:after,.w3-row-padding:before{
    content: "";
    display: table;
    clear: both
}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{
    padding: 0 8px
}

.w3-third{
    float: left;
    width: 100%
}

.w3-white,.w3-hover-white:hover{
    color: #000 !important;
    background-color: #fff !important
}

.w3-teal,.w3-hover-teal:hover{
    color: #fff !important;
    background-color: #123c69 !important
}

.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{
    color: #7e685a !important
}

.w3-text-black,.w3-hover-text-black:hover{
    color: #000 !important
}

.w3-card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.w3-card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.w3-display-container{
    position: relative
}

.w3-display-container:hover{
    display:block
}

.w3-display-container:hover{
    display:inline-block
}

.w3-display-bottomleft{
    position: absolute;
    left: 0;
    bottom: 0
}

.w3-container{
    padding: 0.01em 16px
}

.w3-container:after,.w3-container:before{
    content: "";
    display: table;
    clear: both
}

.w3-margin-top{
    margin-top: 16px !important
}

.w3-margin-right{
    margin-right: 16px !important
}

.w3-margin-bottom{
    margin-bottom: 16px !important
}

.w3-padding-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.w3-large{
    font-size: 18px !important
}

.w3-xxlarge{
    font-size: 36px !important
}

.w3-text-teal,.w3-hover-text-teal:hover{
    color: #ac3b61 !important
}

.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{
    color: #757575 !important
}

.w3-twothird{
    float: left;
    width: 100%
}

.w3-opacity,.w3-hover-opacity:hover{
    opacity: 0.60
}

.w3-opacity-off,.w3-hover-opacity-off:hover{
    opacity: 1
}

.w3-opacity-max{
    opacity: 0.25
}

.w3-opacity-min{
    opacity: 0.75
}

.w3-tag{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.w3-round{
    border-radius: 10px
}

.round{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 2%;
}

.w3-center .w3-bar{
    display: inline-block;
    width: auto
}

.w3-bar-block.w3-center .w3-bar-item{
    text-align: center
}

.w3-center{
    text-align: center !important
}

@media (min-width:601px){
    .w3-third{
        width: 33.33333%
    }
    .w3-twothird{
        width:66.66666%
    }
}